.bg{
	position: absolute;	
    height: 100vh;
    width: 100%;
    background: #FA58AC;
    overflow: auto;
}

#devise_container {
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	background: #FA58AC;
	text-align: center;
	color: #fff;
	font-size: 1.2em;	
}

h2{
	font-size: 2.6em;
	color: #B4045F;
}

.field #user_email,.field #user_password,.field #user_password_confirmation,
.field #user_current_password {
	width: 300px;
	height: 40px;
	border-radius: 45px;
	outline: none;
	font-size: 1em;
	padding-left: .5em;
	border: none;
}

.field i,em {
	font-size: .8em;
}

.actions input{
	width: 130px;
	height: 40px;
	border-radius: 45px;
	background: #B4045F;
	color: #fff;
	border:none;
	cursor: pointer;
}

#erase_acc {
	width: 160px;
    height: 40px;
    background: #B4045F;
    color: #fff;
    border:none;
    cursor: pointer;
}

/*flash*/
.alert-error {
	position:absolute;
    top:45px;
	left:50%;
	transform: translate(-50%,0);
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    z-index: 1002;
 }

.alert-alert {
	position:absolute;
    top:45px;
	left:50%;
	transform: translate(-50%,0);
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    z-index: 1002;
 }

.alert-success {
	position:absolute;
    top:45px;
	left:50%;
	transform: translate(-50%,0);
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    z-index: 1002;
 }

.alert-notice {
	position:absolute;
    top:45px;
	left:50%;
	transform: translate(-50%,0);
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    //text-align: left;
    z-index: 1002;
    width: 33%;
    height:50px;
    text-align: center;
    padding: .7em 0;
 }

 @media only screen and (max-width:480px){
 #devise_container {	
    top: 0;	
	transform: translate(-50%, 0);}
 }
