// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
	padding: 0;
	margin: 0;
}

section {	
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.login_bar {
	position: absolute;
	top:0;
	width:100%;
	height: 45px;	
	z-index: 1001;	
}

.login_bar li {
	list-style: none;
	display: inline-block;
	float:right;
	color: #FA58AC;
	font-size: 1.2em;
	padding: .4em 0 0 2em;
}

.login_bar img{
	float: right;
	height: 36px;
	width: 36px;
	padding: 0 1em;
	border-radius: 50%;
}

.toogle{
	display: none;	
}

.toggle.on #one{
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

.toggle.on #two{
    opacity: 0;
}

.toggle.on #three{
    transform: rotate(-45deg) translateX(6px) translateY(-6px);
}

#resize{
	z-index: 1001;
	position: fixed;
	display: table;
	visibility: hidden;
	width:100%;
	height: 100vh;
	background: #FA58AC;
	opacity: 0;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	transition: all 1s ease-out;	
}

#resize.active {
    visibility: visible;
    opacity: 0.99;      
}

.resize_body{
    position: absolute;
    top: 15vh;
    left: 50%;
    font-family: poppins, sans-serif;
    transform: translate(-50%, 0);	
}

.resize_body ul {
	list-style: none;
}

.resize_body ul li {
	margin: 10px auto;	
}

.resize_body ul li a{
	text-decoration: none;
	transition: all .3s ease-in;
	color: #fff;
}

.resize_body ul li a:hover{
	color: #B4045F;
}

.resize_body img{
	width: 96px;
	height: 96px;
	border-radius: 50%;
}

.cover{
	background: url("cover") 100% 100%/cover no-repeat;
    width: 100%;
    height: 100%;
}

.models{
	position: absolute;
	display: block;	
	left: 45%;	
	height: 100vh;
	width: 40%;
}

.slide1,.slide2,.slide3{
	position: absolute;
	height: 100vh;
	width: 100%;
}

.slide1{
	background: url("models/modelo_01_01") 100% 100%/100% 100% no-repeat;
	animation: fade1 16s infinite;	
}

.slide2{
	background: url("models/modelo_01_02") 100% 100%/100% 100% no-repeat;
	animation: fade2 16s infinite;	
}

.slide3{
	background: url("models/modelo_01_03") 100% 100%/100% 100% no-repeat;
	animation: fade3 16s infinite;	
}

.text_1 {
	position: absolute;
	top: 22vh;
	left: 10%;
	font-family: 'Great Vibes', cursive;
	font-size: 6.5em;
	color: #B4045F;
	transform: translate(-10%, 0);
	text-shadow: 1px 2px 1px #fff;
}

.text_1 span{
	color:#FA58AC;
    text-shadow: 1px 2px 1px #fff;
}

.box{
	position: absolute;
	display: block;
	top: 45vh;
	left: 7%;
	background: rgba(255,255,255,.8);
	width: 580px;
	height: 45vh;
	border-radius: 45px;
}

.media_container{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,0);
	width: 90%;
	text-align: center;
	color: #fff;
	font-family: poppins, sans-serif;
	font-size: .6em;
	border-top:solid 1px darkgrey;	
}

.media_container .facebook{
    position: relative;
    display: inline-block;
    background: url("medias/facebook") 100% 100%/100% 100% no-repeat;
    height: 48px;
    width: 48px;
    margin: 5px 60px;
}

.media_container .instagram{
    position: relative;
    display: inline-block;
    background: url("medias/instagram") 100% 100%/100% 100% no-repeat;
    height: 48px;
    width: 48px;
    margin: 5px 60px;
}

.media_container .whatsapp{
    position: relative;
    display: inline-block;
    background: url("medias/whatsapp") 100% 100%/100% 100% no-repeat;
    height: 48px;
    width: 48px;
    margin: 5px 60px;
}

.media_container a{
	text-decoration: none;	
}

.media_container i{
	content: '\f0a8';
	font-family: 'FontAwesome';
    font-size: 48px;
    color: #FFF;
    margin: 0 40px;    
}

// Button/Arrow
.cover .cover_button{
   position: absolute;
   display: block;
   top: 80vh;
   left:50%;
   transform: translate(-50%, 0);
   z-index: 999;
}

.cover .cover_button #arrow-down {
    position: relative;
    text-align: center;
    animation: jump 5s infinite;
    i {
      content: '\f0a8';
      font-family: 'FontAwesome';
      font-size: 80px;
      color: #FA58AC;
      transition: .3s ease-in-out;
    }
    i:hover {
      opacity: 0.7;
      transition: .3s ease-in-out;
    }
}

.schedule{
	background: url("schedule") 100% 100%/cover no-repeat;
    width: 100%;
    height: 100%;    
}

.schedule_text_1 {
	position: relative;
	top: 10vh;
	left: 1%;	
	font-size: 5em;
	color: #fff;	
	text-shadow: 1px 1px 1px #000;
}

.schedule_text_2 {
	position: relative;
	top: 20vh;
	left: 10%;	
	font-size: 3em;
	color: #fff;	
	text-shadow: 1px 1px 1px #000;
}

.date_field{
	position: relative;
	top: 30vh;
	left: 19%;
	width: 300px;
	height:30px;
	text-align: center;
	font-size: 1.5em;
	
}

@keyframes fade1
{
    0% {opacity: 1;}
    33% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade2
{
    0% {opacity: 0;}
    33% {opacity: 1;}
    66% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade3
{
    0% {opacity: 0;}
    33% {opacity: 0;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}

// Animation arrow
@keyframes jump {
  0% { top: 0; } 50% { top: 50px; } 100% { top: 0; }
}

// Responsiveness
@media only screen and (max-width:480px){
	.models{
       width:100%;
       height:100vh;
       left:0;       
	}

	.text_1{
		z-index: 1000;
		font-size: 3.2em;
		top:65vh;
		left:15%;		
	}

	.box{
		display: none;
	}

	.cover .cover_button{
        top: 70vh;
	}
    
    .login_bar{
    	position: fixed;
    	top: 3vh;
    	right: 5vw;
    	width: 45px;
    	background: rgba(250, 88, 172, 1);
    	border-radius: 12px;
    }

    .login_bar li{
    	display: none;
    }

    .login_bar img{
    	display: none;
    }

    .toggle{
    	position:absolute;
    	width: 30px;
    	height: 30px;
    	left:50%;
    	top:50%;
    	transform: translate(-50%,-50%);
    	cursor: pointer;
    	transition: all .3s ease-out;
    }

    .toggle .span{
        height: 3px;
        margin: 5px auto;
        background: #fff;
        transition: all .3s ease-out;
    }
   
	.media_container i{	
        margin: 0 25px;
    }

    .schedule{
    	text-align: center;
    }

    .schedule_text_1 {
    	top: 13vh;
    	font-size: 3em;
    }

    .schedule_text_2{
    	font-size: 2em;
    	left:0;
    }

    .date_field{
    	left:0;
    }

}